/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

Gemfile.lock
/ext/leak_profiler/*.bundle
/ext/leak_profiler/*.so
/ext/leak_profiler/*.o
/ext/leak_profiler/mkmf.log
/ext/leak_profiler/Makefile
/lib/*.so
/lib/*.bundle