name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  TESTOPTS: --verbose

jobs:
  lint:
    runs-on: ubuntu-latest

    name: RuboCop
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 4.0
        bundler-cache: true
    - uses: r7kamura/rubocop-problem-matchers-action@v1
    - run: bundle exec rubocop --parallel

  rbs:
    runs-on: ubuntu-latest

    name: Check RBS
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0
          bundler-cache: true
      - name: Check RBS signatures are properly updated
        run: |
          bundle exec rake rbs:update
          git --no-pager diff --exit-code
          bundle exec steep check

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ruby-version: ['3.4', '4.0']

    name: Ruby ${{ matrix.ruby-version }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
